fieldset{
	text-align: center;
	background-color: #BA55D3	;
	width: 550px;
	margin: 15 auto;
	border-radius: 5px;
	border-color: black;
	font-size: 18px;
	font-family: valuere;
}
#c{
	background-color: 	#F5FFFA;
	border-color: black;
}
